*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    font-size: 0.35rem;
}
.wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    width:100%;
    height: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section{
    width: 100%;
    flex:1;
    border-top:0.1rem solid #ccc;
    overflow: hidden;
}
section .p{
    width: 100%;
    height: 2rem;
}
section .p .icons{
    width: 1.8rem;
    height: 1.8rem;
    display: inline-block;
    background: #ccc;
    border-radius:50%;
    text-align: center;
    line-height: 2rem;
    font-size: 0.5rem;
}
section .list{
    width: 100%;
    height: 100%;
}
section .list li{
    width: 100%;
    height: 1.2rem;
    border-bottom:1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
